{% extends 'base.html' %}
{% block content %}

    {% if object %}
        <h1>Edit Listing</h1>
    {% else %}
        <h1>Add a listing</h1>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="add!">
    </form>
    {% for photo in clothing.photo_set.all %}
        <img src="{{photo.url}}" alt="Clothing Photo">
    {% empty %}
        <div>No Photos Uploaded</div>
    {% endfor %}



{% endblock %}