{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="construction-container">
        <h1 class="construction-txt">Under construction...</h1>
    </div> 

    <div class="record-container">
        <div class="plate">
            <div class="black">
                <div class="border">
                    <div class="white">
                        <div class="center"></div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="player">
            <div class="rect"></div>
            <div class="circ"></div>
        </div>
    </div>

    <hr class="thread" id="loading-thread">

{% endblock %}