{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/indexstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/addstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cutive+Mono&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Vintage Vault</title>
</head>
<body>
    <nav>
        <div class="top-nav">
            <a href="{% url 'home' %}"><img id="logo" src="{% static 'assets/logo.png' %}" alt="Vintage Vault Logo"></a>
            <div id="nav-right">
                {% if user.is_authenticated %}
                    <li class='top-nav-link'><a class='top-nav-link' href="{% url 'clothing_create' %}"><i class="fa fa-plus-square" aria-hidden="true"></i></a></li>
                    <li class='top-nav-link'><a class='top-nav-link' href="{% url 'likes' %}"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li class='top-nav-link'><a class='top-nav-link' href="{% url 'bag' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    <li class='top-nav-link'><a class='top-nav-link' href=""><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    <li class='top-nav-link'><a class='top-nav-link' href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                {% else %}
                    <li class='top-nav-link'><a class='top-nav-link' href="{% url 'signup' %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
                    <li class='top-nav-link'><a class='top-nav-link'href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                {% endif %}
            </div>
        </div>

        <div class="bottom-nav">
            <a class='bottom-nav-link' href="{% url 'index' %}">All</a>
            <a class='bottom-nav-link' href="{% url 'tops_index' %}">Tops</a>
            <a class='bottom-nav-link' href="{% url 'bottoms_index' %}">Bottoms</a>
            <a class='bottom-nav-link' href="{% url 'jackets_index' %}">Jackets</a>
            <a class='bottom-nav-link' href="{% url 'dresses_index' %}">Dresses</a>
            <a class='bottom-nav-link' href="{% url 'jumpsuits_index' %}">Jumpsuits</a>
            <a class='bottom-nav-link' href="{% url 'shoes_index' %}">Shoes</a>
            <a class='bottom-nav-link' href="{% url 'accessories_index' %}">Accessories</a>
        </div>

    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>