{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cutive+Mono&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>Vintage Vault</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="{% url 'home' %}"><img id="logo" src="{% static 'assets/logo.png' %}" alt="Vintage Vault Logo"></a>
            <div id="nav-right"></div>
            {% if user.is_authenticated %}
            <li class='nav-link'><a href="{% url 'index' %}">View All Clothes</a></li>
            <div class="subnav-content">
                <a href="">All</a>
                <a href="">Tops</a>
                <a href="">Bottoms</a>
                <a href="">Jackets</a>
                <a href="">Dresses</a>
                <a href="">Jumpsuits</a>
                <a href="">Suits</a>
                <a href="">Accessories</a>
            </div>
            <li class='nav-link'><a href="{% url 'clothes_create' %}">Add Listing</a></li>
            <li class='nav-link'><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li class='nav-link'><a href="{% url 'signup' %}">Sign Up</a></li>
            <li class='nav-link'><a href="{% url 'login' %}">Log In</a></li>

            {% endif %}
       
    </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>