{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section id="home-page-section">
        <div class="home-page-left">
            <h1 id="home-h1">
                Unlock<br>
                <span id="home-accent-txt">YOUR</span><br>
                Style Story
            </h1>
            <h2 id="home-h2">Vintage Vault</h2>
        </div>

        <div class="home-page-right">
            <img id="home-page-img" src="{% static 'assets/homepageimg.jpg' %}">
            <hr>
        </div>
    </section>

{% endblock %}