#add-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#add-h1 {
    margin: 1vw 0 2vw;
    font-size: 4vw;
    font-family: 'Cutive Mono', monospace;
}

.btn {
    margin: 1vw 0 2vw;
    display: inline-block;
    background-color: rgb(50, 56, 96);
    color: rgb(235, 218, 202);
    font-size: 2vw;
    font-family: 'Cutive Mono', monospace;
    border: .3vw solid rgb(23, 29, 66);
    border-radius: 10px;
    box-shadow: .5vw .5vw 0 rgb(23, 29, 66);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: rgb(235, 218, 202);
    color: rgb(23, 29, 66);
    border: .3vw solid rgb(50, 56, 96);
    box-shadow: .5vw .5vw 0 rgb(50, 56, 96);
}

.btn:active {
    background-color: rgb(255, 199, 146);
    color: rgb(42, 48, 89);
    box-shadow: none;
    transform: translateY(.3vw)
}

form {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    color: rgb(23, 29, 66);
    gap: 2vw;
}