#add-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#add-h1 {
    margin: 1vw 0 2vw;
    font-size: 4vw;
    font-family: 'Cutive Mono', monospace;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    color: rgb(23, 29, 66);
    gap: 2vw;
}