body {
    margin: 0;
    background-color: rgb(218, 178, 139);
    font-family: 'Rubik', sans-serif;
    color: rgb(32, 40, 90);
}

nav {
    overflow: hidden;
    display: flex;
    gap: 2vw;
}

#nav-right {
    display: flex;
    margin-left: 78%;
}

#logo {
    width: 5vw;
}

.nav-link {
    width: 8vw;
    padding: 5%;
    list-style-type: none;
    font-size: 1.5vw;
}

a {
    text-decoration: none;
    color: rgb(32, 40, 90);
}

a:hover {
    cursor: pointer;
}

#home-page-section {
    display: flex;
    justify-content: space-between;
}

#home-page-img {
    width: 45vw;
    padding: 5vw 7vw;
    filter: drop-shadow(1vw 1vw rgb(23, 29, 66))
}

#home-h1 {
    color: rgb(32, 40, 90);
    font-size: 4vw;
}

#home-h2 {
    padding: 18vh 0 0;
    font-family: 'Cutive Mono', monospace;
    font-size: 3vw;
    color: rgb(32, 40, 90);
}

.home-page-left {
    padding: 5vw 0 0 7vw;
}

#home-accent-txt {
    font-family: 'Bungee Shade', cursive;
    font-size: 6vw;
}

hr {
    height: 3px;
    border-width: 0;
    background-color: rgb(32, 40, 90);
}

/*       clothes-index.css       */

.grid-container {
    display: grid;
    padding: 2% 3%;
    gap: 2%;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    grid-template-rows: 50vh;
}

.item-link {
    height: 22vw;
    width: 100%;
    margin: 0;
    background-color: rgb(32, 40, 90);
    color: rgb(218, 178, 139);
}

.clothing-price {
    margin: 2vh 0 1vh;
    font-size: 2vw;
    font-weight: bolder;
}

.clothing-size {
    margin: 0;
    font-size: 1.5vw;
}

.item-name {
    margin: 0;
}