body {
    margin: 0;
    background-color: rgb(219, 194, 169);
    font-family: 'Rubik', sans-serif;
    color: rgb(32, 40, 90);
}

nav {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#logo {
    width: 5vw;
}

.top-nav {
    margin: .5% .5%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
}

.top-nav-link {
    width: 4vw;
    margin: 5% 0 0;
    list-style-type: none;
    font-size: 2vw;
    white-space: nowrap;
    overflow: hidden;
}

.bottom-nav-link  {
    padding: 0 3%;
    list-style-type: none;
    font-size: 1.5vw;
    font-family: 'Cutive Mono', monospace;;
}

#nav-right {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.bottom-nav {
    margin: 0 3%;
    display: flex;
    align-items: center;
    border: 2px rgb(32, 40, 90);
    border-style: solid none;
}

a {
    text-decoration: none;
    color: rgb(32, 40, 90);
}

a:hover {
    cursor: pointer;
    color: rgb(54, 61, 105);
}

#home-page-main {
    display: flex;
    justify-content: space-between;
}

#top-home-page-img {
    width: 40vw;
    padding: 5vw 7vw;
    filter: drop-shadow(1vw 1vw rgb(23, 29, 66))
}

.home-page-img {
    width: 35vw;
    padding: 2vw 7vw;
    filter: drop-shadow(1vw 1vw rgb(23, 29, 66))
}

#welcome-container {
    display: grid;
    padding-left: center;
    width: 33vw;
}

#home-h1 {
    margin: 0;
    letter-spacing: 2vw;
    overflow: hidden;
    border-right: 5px solid rgb(32, 40, 90);
    font-family: 'Cutive Mono', monospace;
    font-size: 4vw;
    white-space: nowrap;
    animation: 
        typing 1.5s steps(20, end) forwards,
        blink-caret .85s step-end infinite;
}

#home-h2 {
    color: rgb(32, 40, 90);
    font-size: 4vw;
}

#home-h3 {
    padding: 15vh 0 0;
    font-family: 'Cutive Mono', monospace;
    font-size: 3vw;
    color: rgb(32, 40, 90);
}

.home-page-left {
    padding: 3vw 0 0 7vw;
}

#home-accent-txt {
    font-family: 'Bungee Shade', cursive;
    font-size: 6vw;
}

.thread {
    height: 3px;
    border: 0;
    background-color: rgb(32, 40, 90);
    animation: thread 6s infinite;
}

.about-area {
    margin-bottom: 3%;
    display: flex;
}

#about-title {
    font-size: 3vw;
}

#about-paragraph-top {
    font-size: 1.8vw;
    padding: 0 7vw 0 0;
}

#about-paragraph-bottom {
    font-size: 1.8vw;
    padding: 0 0 0 7vw;
}

footer {
    background-color: rgb(32, 40, 90);
    color: rgb(218, 178, 139);
    display: flex;
    justify-content: center;
    font-size: 1.3vw;
}

@keyframes typing {
    from { width: 0 }
    50% { width: 50% }
    100% { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(32, 40, 90) }
}

@keyframes thread {
    0% { width: 100% }
    50% { width: 100% }
    80% { width: 0px }
    100% { width: 100% }
}