#signup-section, #login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0 0;
}

.registration-txt {
    margin: 0;
    letter-spacing: 2vw;
    overflow: hidden;
    border-right: 5px solid rgb(32, 40, 90);
    font-family: 'Cutive Mono', monospace;
    font-size: 4vw;
    white-space: nowrap;
    animation: 
        typing 1.5s steps(20, end) forwards,
        blink-caret .85s step-end infinite;
}

.registration-form-div {
    width: 70%;
}

.registration-form {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    color: rgb(23, 29, 66);
}
