#signup-section {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: 5% 0 0;
}

#signup-h1 {
    margin: 0;
    letter-spacing: 2vw;
    overflow: hidden;
    border-right: 5px solid rgb(32, 40, 90);
    font-family: 'Cutive Mono', monospace;
    font-size: 4vw;
    white-space: nowrap;
    animation: 
        typing 1.5s steps(20, end) forwards,
        blink-caret .85s step-end infinite;
}

