{% extends 'base.html' %}

{% block content %}

    <section>

        <div class="detail-info-div">
            <h1 id="detail-h1">@{{ clothes.user }}</h1>
            <h2 id="detail-clothing-name">{{ clothes.clothing_name }}</h2>
            <p id="detail-description">{{ clothes.description }}</p>
            <p id="detail-price">${{ clothes.price }}</p>

            {% if user.is_authenticated %}
                <button class="btn" id="detail-btn">add to cart!</button>
                {% else %}
                <a href="{% url 'login' %}"><button class="btn" id="detail-btn">log in!</button></a>
            {% endif %}

            <table class="details-table">
                <tr>
                    <hr class="thread">
                    <td class="td-name">Size:</td>
                    <td class="table-spacer"></td>
                    <td class="td-info">{{ clothes.size }}</td>
                </tr>
                <tr>
                    <td class="td-name">Brand:</td>
                    <td></td>
                    <td class="td-info">{{ clothes.brand }}</td>
                </tr>
                <tr>
                    <td class="td-name">Condition:</td>
                    <td></td>
                    <td class="td-info">{{ clothes.condition }}</td>
                </tr>
                <tr>
                    <td class="td-name">Meterial:</td>
                    <td></td>
                    <td class="td-info">{{ clothes.material }}</td>
                </tr>
                <tr>
                    <td class="td-name">Color:</td>
                    <td></td>
                    <td class="td-info">{{ clothes.color }}</td>
                </tr>
            </table>
        </div>

    </section>


{% endblock %}

