{% extends 'base.html' %}

{% block content %}

    <section>
        <h1>{{ clothes.user }}</h1>
        <h2>{{ clothes.clothing_name }}</h2>
        <p>{{ clothes.description }}</p>
        <p>{{ clothes.price }}</p>
        <table>
            <tr>
                <td>Size</td>
                <td></td>
                <td>{{ clothes.size }}</td>
            </tr>
            <tr>
                <td>Brand</td>
                <td></td>
                <td>{{ clothes.brand }}</td>
            </tr>
            <tr>
                <td>Condition</td>
                <td></td>
                <td>{{ clothes.condition }}</td>
            </tr>
            <tr>
                <td>Meterial</td>
                <td></td>
                <td>{{ clothes.material }}</td>
            </tr>
            <tr>
                <td>Color</td>
                <td></td>
                <td>{{ clothes.color }}</td>
            </tr>
                
        </table>



        {% for photo in clothes.photo_set.all %}
        <img src="{{photo.url}}" alt="Clothing Photo" width="160" height="160">
{% empty %}
    <div>No Photos Uploaded</div>
{% endfor %}

{% if user.is_authenticated %}
    {% if user == clothes.user %}

<!-- new code below -->
<form action="{% url 'add_photo' clothes.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <button type="submit" class="btn">Upload Photo</button>
</form>

        <div class="card-action">
            <a href="{% url 'clothing_update' clothes.id %}">Edit</a>
            <a href="{% url 'clothing_delete' clothes.id %}">Delete</a>
        </div>

    {% endif %}
{% endif %}

    </section>


{% endblock %}

