{% extends 'base.html' %}

{% block content %}

    <h1>All</h1>

    <section id="category-section">

        <div class="grid-container">
        {% for clothing in clothes %}
            <div class="grid-item">
                <a>
                    <div class="item-link">
                        <p>Image goes here...</p>
                        <p class="item-name">{{ clothing.clothing_name }}</p>
                        <p class="item-description">{{ clothing.description }}</p>
                    </div>
                </a>
                    <p class="clothing-price">${{ clothing.price }}</p>
                    <p class="clothing-size">{{ clothing.size }}</p>
                </div>
        {% endfor %}
        </div>

    </section>

{% endblock %}