{% extends 'base.html' %}

{% block content %}

    <h1 id="index-h1">{{ category }}</h1>

    <section id="category-section">

        <div class="grid-container">
        {% for clothes in clothing %}
            <div class="grid-item">
                <a href="{% url 'detail' clothes.id %}">
                    <div class="item-link">
                        {% for photo in clothes.photo_set.all %}
                            {% if forloop.first %}
                        <img class="item-photo" src="{{photo.url}}" alt="Clothing Photo" width="160" height="160">
                            {% endif %}
                    {% empty %}
                        <p>No Photos Uploaded</p>
                        <p class="item-name">{{ clothes.clothing_name }}</p>
                        <p class="item-description">{{ clothes.description }}</p>
                        <p class="item-description">{{ clothes.category }}</p>
                    {% endfor %}
                    </div>
                </a>
                    <p class="clothing-price">${{ clothes.price }}</p>
                    <p class="clothing-size">{{ clothes.size }}</p>
                </div>
        {% endfor %}
        </div>

    </section>

{% endblock %}