{% extends 'base.html' %}

{% block content %}

    <h1>All</h1>

    <section id="category-section">

        <div class="grid-container">
        {% for clothes in clothing %}
            <div class="grid-item">
                <a href="{% url 'detail' clothes.id %}">
                    <div class="item-link">
                        <p>Image goes here...</p>
                        <p class="item-name">{{ clothes.clothing_name }}</p>
                        <p class="item-description">{{ clothes.description }}</p>
                    </div>
                </a>
                    <p class="clothing-price">${{ clothes.price }}</p>
                    <p class="clothing-size">{{ clothes.size }}</p>
                </div>
        {% endfor %}
        </div>

    </section>

{% endblock %}